certifi==2024.12.14
charset-normalizer==3.4.1
idna==3.10
imageio==2.36.1
joblib==1.4.2
lazy_loader==0.4
networkx==3.2.1
numpy==2.0.2
packaging==24.2
pillow==11.1.0
python-dotenv==1.0.1
requests==2.32.3
scikit-image==0.24.0
scikit-learn==1.6.1
scipy==1.13.1
threadpoolctl==3.5.0
tifffile==2024.8.30
urllib3==2.3.0
